<h2>Book log</h2>

<% if @count >0 %>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Patreon</th>
      <th>Check out date</th>
      <th>Due date</th>
      <th>Return date</th>
      <th>Status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booklog.each do |book| %>
      <tr>
        <td><%= book.book_id %></td>
        <td><%= book.user_id %></td>
        <td><%= book.checkedout %></td>
        <td><%= book.duedate %></td>
        <td><%= book.returndate %></td>
        <td><%= book.checkedoutstatus %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
No books checked out...
<br>
<% end %>


<br>
<%= link_to 'Back', books_path %>
